nav {
	position: fixed;
	top: 0;
	width: 100vw;
	background: #e8eff3b7;
}

ul {
	margin: 0;
	padding: 0;
}

/* clearfix */
ul::after {
	content: "";
	display: block;
	clear: both;
}

li {
	display: block;
	float: left;
}

.selected {
	position: relative;
	display: inline-block;
}

.selected::after {
	position: absolute;
	content: "";
	width: calc(100% - 1em);
	height: 2px;
	background-color: #be025b;
	display: block;
	bottom: -1px;
}

a {
	text-decoration: none;
	padding: 1em 0.5em;
	display: block;
	font-family: "Montserrat", sans-serif;
}
