nav {
	position: fixed;
	top: 0;
	width: 100vw;
	background: #e8eff3;
}

ul {
	margin: 0;
	padding: 0;
}

/* clearfix */
ul::after {
	content: "";
	display: block;
	clear: both;
}

li {
	display: block;
	float: left;
}

.selected {
	position: relative;
	display: inline-block;
}

.selected::after {
	position: absolute;
	content: "";
	width: calc(100% - 1em);
	height: 2px;
	background-color: #be025b;
	display: block;
	bottom: -1px;
}
// .navContainer {
//   position: fixed;
//   border-bottom: 1px solid rgba(255, 62, 0, 0.1);
//   font-weight: 300;
//   padding: 0 1em;
//   height: 50px;
//   width: 100%;
//   margin-bottom: 50px;
// }

a {
	text-decoration: none;
	padding: 1em 0.5em;
	display: block;
	font-family: "Montserrat", sans-serif;
}
