@import "./theme.scss";

* {
	margin: 0;
	padding: 0;
}

.projectsContainer {
	display: flex;
	width: 100vw;
	height: 100%;
	background: #e8eff3;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 5%;
	a:link,
	a:visited {
		text-decoration: none;
		color: black;
	}
	font-family: "Quicksand", sans-serif;
	h1 {
		font-size: 20px;
	}
	.projectTile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 300px;
		margin: 10px;
		border-radius: 7px;
		background: linear-gradient(145deg, #f8ffff, #d1d7db);
		box-shadow: 8px 8px 16px #c5cbcf, -8px -8px 16px #ffffff;
		font-family: "Quicksand", sans-serif;
		&:hover {
			border-radius: 9px;
			background: #e8eff3;
			box-shadow: inset 5px 5px 10px #c5cbcf, inset -5px -5px 10px #ffffff;
			.projectBody {
				transition: all 0.2s ease-in-out; //? this is the inner transition for the text box
				box-shadow: none;
			}
		}
		.projectTitle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 50px;
			width: 250px;
			text-align: center;
			color: black;
		}
		.projectBody {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			text-align: center;
			height: 150px;
			width: 225px;
			margin-top: 20%;
			border-radius: 4px;
			background: #e8eff3;
			box-shadow: inset 5px 5px 10px #c5cbcf, inset -5px -5px 10px #ffffff;
			p {
				padding: 0 5px 0 5px;
			}
		}
	}
}
