@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap");
// Homepage Colours
$homepage-background: #00c7d3;
$homepage-name: #be025b;
$homepage-dev: #d7f10d;

// Sun on homepage
$sun-size: 150px;
$sun-homepage-yellow: #ffdd4a;

// Colours for the resume page
$border-colour: rgb(45, 0, 129);
$heading-colour: rgb(20, 0, 61);

// Rainbow flag colour DO NOT CHANGE
$red: rgb(228, 3, 3);
$orange: rgb(255, 140, 0);
$yellow: rgb(255, 237, 0);
$green: rgb(0, 128, 38);
$blue: rgb(0, 77, 255);
$purple: rgb(117, 7, 135);

// Contact Me variables
$ruler: 16px;
$colour-red: #a30000;
$colour-bg: #ebecf0;
$colour-shadow: #babecc;
$colour-white: #fff;
$colour-red-light: #c5655a;
